 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:100%;
    min-height: 700px;
    background: linear-gradient(to right, #00b09b, #96c93d);
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:360px;
    height:600px;
    background-color: azure;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:30px;
    padding:20px;
}
.card img{
    height:60% ;
    border-radius:10px;
}
.card h2{
    font-weight: bold;
    font-size:1.7rem;
}
.card p{
    font-size:1em ;
}